<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/my_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElWork"
        tools:targetApi="31">
        <activity
            android:name=".QiWuModel"
            android:exported="false"
            android:theme="@style/Theme.ElWork" />
        <activity
            android:name=".HuaNiaoModel"
            android:exported="false"
            android:theme="@style/Theme.ElWork" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".FreeCreation"
            android:exported="false"
            android:theme="@style/Theme.ElWork" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainPage"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoosePlayModel"
            android:exported="true" />
        <activity
            android:name=".ShanShuiModel"
            android:exported="true" />
        <activity
            android:name=".MainUserActivity.MainUserActivity"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
    </application>

</manifest>